@{
    ViewData["Title"] = "TADS Consultas";
}
<html>
    <head>

    </head>
    <body class="fundo">
        <div>
            <h1>MY SAÚDE</h1>
            <h3>Bem-Vindo!</h3>
        </div>
    </body>
</html>

