
<div class="container">
    <form class="formLogin">
            <input name="usuario" type="text" placeholder="USUÃRIO" class="inputLogin"/>
            <input name="senha" type="password" placeholder="SENHA" class="inputLogin"/>
            <input asp-controller="Home" asp-action="validaUsuario" type="submit" value="ENTRAR" class="inputLogin btnForm"/>
        
    </form>
    </br>
        <h3>@ViewData["mensagem"].ToString()</h3>
</div>

