
<div class="container">
    <form class="formLogin">
        
            <input type="text" placeholder="USUÃRIO" class="inputLogin"/>
            <input type="password" placeholder="SENHA" class="inputLogin"/>
            <input type="button" value="ENTRAR" class="inputLogin btnForm"/>
        
    </form>
</div>

