@model SistemaConsultas.Models.Usuario
<div class="container">
    <form asp-controller="Usuario" asp-action="salvarUsuario" class="formLogin">
        
            <input type="text" placeholder="CPF" class="inputCadastro"/>
            <input type="text" placeholder="Nome" class="inputCadastro"/>
            <input type="text" placeholder="Data Nascimento" class="inputCadastro"/>
            <input type="text" placeholder="Sexo" class="inputCadastro"/>
            <input type="text" placeholder="Telefone" class="inputCadastro"/>
            <input type="text" placeholder="Nome da Mãe" class="inputCadastro"/>
        
            <input type="text" placeholder="CEP" class="inputCadastro"/>
            <input type="text" placeholder="País" class="inputCadastro"/>
            <input type="text" placeholder="Estado" class="inputCadastro"/>
            <input type="text" placeholder="Cidade" class="inputCadastro"/>
            <input type="text" placeholder="Bairro" class="inputCadastro"/>
            <input type="text" placeholder="Rua" class="inputCadastro"/>
            <input type="text" placeholder="Número" class="inputCadastro"/>
        
    </form>
</div>

