*{
    margin: 0px;
    font-family: sans-serif;
    padding: 0px;
}

.menu{
    background-color: #ffffff;
    width: 300px;
    height: 100%;
    position: fixed;
    left: -300px;
    margin-top: -10;
    padding-top: 30px;
    
}

.menu .titulo{
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 45px;
    font-size: 24px;
    border-bottom: 2px solid red;

}

.menu ul{
    list-style: none;
    padding: 0px;
    padding-top: 30px;
    
}

.menu ul li{
    line-height: 40px;
    border-bottom: 1px solid #000000;
    padding: 0px;

}

.menu ul li a{
    color: #000000;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    padding: 0px;
    padding-left: 10px;
    font-weight: bold;
    display: block;
}

.menu ul li a:hover{
    background-color: #e7d8e7;
    transition: 0.5s;
}

.menu ul ul li a{
    font-size: 16px;
    font-weight: 300;
    padding: 0px;
    padding-left: 60px;
    background-color: #ffffff;
}

.menu ul ul{
    display: none;
    padding: 0px;
}

.menu ul .itensAgendamento.mostra{
    display: block;
}

.menu ul .itensCadastro.mostra{
    display: block;
}

.menu ul .itensRelatorios.mostra{
    display: block;
}

.menu ul .itensSistema.mostra{
    display: block;
}

.btnMenu{
    position: absolute;
    top: 15px;
    left: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.btnMenu span{
    font-size: 35px;
}

.menu.mostra{
    left: 0px;
    transition: 0.5s;
}

.btnFechar{
    position: absolute;
    top: 15px;
    left: 20px;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.btnFechar span{
    font-size: 35px;
}

.menu.fechar{
    background-color: #ffffff;
    width: 300px;
    height: 100%;
    position: fixed;
    left: -300px;
    margin-top: -10;
    padding-top: 30px;
    transition: 0.5s;
}