@model SistemaConsultas.Models.Usuario
<div class="container">
    <form asp-controller="Usuario" asp-action="salvarUsuario" class="formLogin">
        
            <input asp-for="nome" type="text" placeholder="NOME" class="inputCadastro"/>
            <input asp-for="dataNascimento" type="text" placeholder="DATA NASC." class="inputCadastro"/>
            <input asp-for="login" type="text" placeholder="USUÃRIO" class="inputCadastro"/>
            <input asp-for="senha" type="password" placeholder="SENHA" class="inputCadastro"/>
            <input type="password" placeholder="CONFIRMA SENHA" class="inputCadastro"/>
            <input type="button" value="ENTRAR" class="inputCadastro btn"/>
        
    </form>
</div>

